
div.container{
    position: absolute;
  /*   max-height: 3803px;
    max-width: 1440px; */
    height: 3803px;
    width:1440px;
    left:0px;
    top:0px;
} 



div.main-1{
    height: 850px;
    width: 1440px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    
    
    background-image: url("../../.././public/assets/images/Rectangle.svg");
    position: absolute;
   /*  left:0%;
    right:0%;
    top:0%;
    bottom: -11.76%; */
   /* background: radial-gradient(131.27% 160.17% at 58.41% 47.88%, #682381 0%, #2E1E4D 100%);*/
    background-blend-mode: darken;

}

div.content-1{
    height: 30px;
width: 745px;
left: 60px;
top: 176px;
border-radius: nullpx;

    position: absolute;
/* height: 30px;
left: 4.17%;
right: 44.1%;
top: calc(50% - 30px/2 - 234px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 38px;
/* or 127% */

letter-spacing: 1.25px;

color: #FFFFFF;
}

div.content-2{
    height: 77px;
width: 805px;
left: 58px;
top: 228px;
border-radius: nullpx;

    position: absolute;
/* height: 77px;
left: 4.03%;
right: 40.07%;
top: calc(50% - 77px/2 - 158.5px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 38px;
/* or 127% */

letter-spacing: 1.25px;

color: #FFFFFF;

}

div.form-box{
   
left: 863px;
top: 251px;
height: 651.1904907226562px;
width: 444px;

position: absolute;
/* left: 59.93%;
right: 9.24%;
top: 29.53%;
bottom: -6.14%; */

background: #FFFFFF;
border: 1px solid #EEEEEE;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
border-radius: 4px;

}

label.name{
    left: 33px;
top: 69px;
height: 651.1904907226562px;
width: 444px;

position: absolute;
font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 38px;
/* or 127% */

letter-spacing: 1.25px;

color: grey;
}

input#name{
    height: 63.095237731933594px;
    width: 379px;
    left: 33px;
    top: 97.62px;
    border-radius: 2px;
    
    position: absolute;
/* left: 0%;
right: 0%;
top: 13.11%;
bottom: 0%; */

background: #FFFFFF;
border: 1px solid #A6A7AB;
border-radius: 2px;
}

label.mobile{
    left: 33px;
top: 179px;
height: 651.1904907226562px;
width: 444px;

position: absolute;
font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 38px;
/* or 127% */

letter-spacing: 1.25px;

color: grey;
}



input#mobile{
    height: 63.095237731933594px;
width: 379px;
left: 33px;
top: 208.33px;
border-radius: 2px;

    position: absolute;
   /*  left: 0%;
    right: 0%;
    top: 13.11%;
    bottom: 0%; */
    
    background: #FFFFFF;
    border: 1px solid #A6A7AB;
    border-radius: 2px;
}


label.pincode{
    left: 33px;
top: 289px;
height: 651.1904907226562px;
width: 444px;

position: absolute;
font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 38px;
/* or 127% */

letter-spacing: 1.25px;

color: grey;
}


input#pincode{
    height: 63.095245361328125px;
width: 379px;
left: 33px;
top: 319.05px;
border-radius: 2px;

    position: absolute;
/* left: 0%;
right: 0%;
top: 0%;
bottom: 0%; */

background: #FFFFFF;
border: 1px solid #A6A7AB;
border-radius: 2px;
}

button.submit-button{
    height: 63.09521484375px;
width: 379px;
left: 33px;
top: 445.24px;
border-radius: 2px;

    position: absolute;
/* left: 0%;
right: 0%;
top: 0%;
bottom: 0%; */

background: #DA2128;
border: 1px solid #DA2128;
border-radius: 2px;

}

span.submit-text{
    height: 19px;
width: 84px;
left: 148.5px;
top: 22px;
border-radius: nullpx;

    position: absolute;
/* height: 19px;
left: 39.18%;
right: 38.65%;
top: calc(50% - 19px/2 - 0.05px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.5px;

color: #FFFFFF;
}

div.content-3{
    position: absolute;
width: 761px;
height: 75px;
left: 58px;
top: 331px;

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 31px;
/* or 124% */

letter-spacing: 1.25px;

color: #FFFFFF;

}

div.box{
    position:absolute;
    height: 38.09527587890625px;
width: 193px;
left: 75px;
top: 413px;
border-radius: 2px;

/* left: 0%;
right: 0%;
top: 0%;
bottom: 0%; */

background: #FFFFFF;
border: 1px solid #EEEEEE;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
border-radius: 2px;

}

div.content-4{
    height: 19px;
width: 145px;
left: 30px;
top: 10px;
border-radius: nullpx;

    position: absolute;
/* height: 19px;
left: 15.54%;
right: 15.54%;
top: calc(50% - 19px/2 + 0.45px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.5px;
text-transform: uppercase;

color: #DA2128;


}

div.box2{
    height: 384.5237731933594px;
width: 487px;
left: 58px;
top: 432.0476379394531px;
border-radius: 4px;

    position: absolute;
/* left: 4.03%;
right: 62.15%;
top: 50.83%;
bottom: 3.93%; */

border: 1px dashed #FFFFFF;
border-radius: 4px;
}

ul{
    list-style-type: none;
}

li.list1{
    height: 16.666675567626953px;
width: 16.522968292236328px;
left: 23px;
top: 42.86px;
border-radius: 8px;


    position: absolute;
 /*    left: 0%;
    right: 94.66%;
    top: 22.73%;
    bottom: 13.64%; */
    
    background: #FFFFFF;
    border: 2px solid #EEEEEE;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
}


span.list-1-1{
    height: 18px;
width: 238.40283203125px;
left: 31.86px;
top: -3.96px;
border-radius: nullpx;

    position: absolute;
/* height: 18px;
left: 10.31%;
right: 12.6%;
top: calc(50% - 18px/2 - 2.1px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
/* identical to box height */

letter-spacing: 0.5625px;

color: #FFFFFF;
}

 
li.list2{
    height: 16.666675567626953px;
width: 16.522968292236328px;
left: 23px;
top: 89.29px;
border-radius: 8px;

    position: absolute;
    /* height: 18px;
    left: 9.54%;
    right: 8.83%;
    top: calc(50% - 18px/2 - 2.1px); */
    
    background: #FFFFFF;
    border: 2px solid #EEEEEE;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
    
}

span.list-2-2{
    height: 18px;
width: 272.62896728515625px;
left: 31.86572265625px;
top: -2.77px;
border-radius: nullpx;

    position: absolute;
   /*  height: 18px;
    left: 9.54%;
    right: 8.83%;
    top: calc(50% - 18px/2 - 2.1px); */
    
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.5625px;
    
    color: #FFFFFF;
    
}
 
li.list3{
    height: 16.666675567626953px;
    width: 16.522968292236328px;
    left: 23px;
    top: 136.9px;
    border-radius: 8px;
    
        position: absolute;
        /* height: 18px;
        left: 9.54%;
        right: 8.83%;
        top: calc(50% - 18px/2 - 2.1px); */
        
        background: #FFFFFF;
        border: 2px solid #EEEEEE;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
} 

span.list-3-3{
    height: 18px;
width: 272.62896728515625px;
left: 31.86572265625px;
top: -2.76px;
border-radius: nullpx;

    position: absolute;
   /*  height: 18px;
    left: 9.54%;
    right: 8.83%;
    top: calc(50% - 18px/2 - 2.1px); */
    
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.5625px;
    
    color: #FFFFFF;
    
}

li.list4{
    height: 16.666675567626953px;
    width: 16.522968292236328px;
    left: 23px;
    top: 184.52px;
    border-radius: 8px;
    
        position: absolute;
        /* height: 18px;
        left: 9.54%;
        right: 8.83%;
        top: calc(50% - 18px/2 - 2.1px); */
        
        background: #FFFFFF;
        border: 2px solid #EEEEEE;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
   
}

span.list-4-4{
    height: 18px;
width: 272.62896728515625px;
left: 31.86572265625px;
top: -2.76px;
border-radius: nullpx;

    position: absolute;
   /*  height: 18px;
    left: 9.54%;
    right: 8.83%;
    top: calc(50% - 18px/2 - 2.1px); */
    
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.5625px;
    
    color: #FFFFFF;
    
}

li.list5{
    height: 16.666675567626953px;
    width: 16.522968292236328px;
    left: 23px;
    top: 232.14px;
    border-radius: 8px;
    
        position: absolute;
        /* height: 18px;
        left: 9.54%;
        right: 8.83%;
        top: calc(50% - 18px/2 - 2.1px); */
        
        background: #FFFFFF;
        border: 2px solid #EEEEEE;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
   
}

span.list-5-5{
    height: 18px;
width: 272.62896728515625px;
left: 31.86572265625px;
top: -2.76px;
border-radius: nullpx;

    position: absolute;
   /*  height: 18px;
    left: 9.54%;
    right: 8.83%;
    top: calc(50% - 18px/2 - 2.1px); */
    
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.5625px;
    
    color: #FFFFFF;
    
}


li.list6{
    height: 16.666675567626953px;
    width: 16.522968292236328px;
    left: 23px;
    top: 279.76px;
    border-radius: 8px;
    
        position: absolute;
        /* height: 18px;
        left: 9.54%;
        right: 8.83%;
        top: calc(50% - 18px/2 - 2.1px); */
        
        background: #FFFFFF;
        border: 2px solid #EEEEEE;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
   
}

span.list-6-6{
    height: 18px;
width: 272.62896728515625px;
left: 31.86572265625px;
top: -2.76px;
border-radius: nullpx;

    position: absolute;
   /*  height: 18px;
    left: 9.54%;
    right: 8.83%;
    top: calc(50% - 18px/2 - 2.1px); */
    
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.5625px;
    
    color: #FFFFFF;
    
}

li.list7{
    height: 16.666675567626953px;
    width: 16.522968292236328px;
    left: 23px;
    top: 327.38px;
    border-radius: 8px;
    
        position: absolute;
        /* height: 18px;
        left: 9.54%;
        right: 8.83%;
        top: calc(50% - 18px/2 - 2.1px); */
        
        background: #FFFFFF;
        border: 2px solid #EEEEEE;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
}

span.list-7-7{
    height: 18px;
width: 272.62896728515625px;
left: 31.86572265625px;
top: -2.76px;
border-radius: nullpx;

    position: absolute;
   /*  height: 18px;
    left: 9.54%;
    right: 8.83%;
    top: calc(50% - 18px/2 - 2.1px); */
    
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.5625px;
    
    color: #FFFFFF;
    
}


div.content-5{
    position: absolute;
height: 22px;

left:77px;
top:75px;

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 22px;
/* identical to box height */

text-align: center;

color: #333333;
/* left: 1.64%;
right: 50.88%;
top: calc(50% - 22px/2 - 205px); */
}

div.main-2{
    position: absolute;
    top:850px;
    height:478px;
    width:1440px;
    background-color:#FFFFFF;
    left:0px;
}

div.content-6{
    position: absolute;
height: 72px;
top:113px;
left:76px;
/* left: 1.51%;
right: 25.57%;
top: calc(50% - 72px/2 - 142px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */


color: #333333;

}

div.content-7{
    position: absolute;
height: 22px;
left:76px;
top:216px;
/* left: 0.16%;
right: 81.45%;
top: calc(50% - 22px/2 - 25px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-align: center;

color: #333333;
}

img.imgstyle1{
    left: 75px;
    top: 253px;
    border-radius: 0px;

    position: absolute;
    width: 34.11px;
    height: 30.4px;

}


span.spec1{
width: 63.840797424316406px;
left: 119.89px;
border-radius: nullpx;

    position: absolute;
height: 16px;
top:262px;
/* left: 41.18%;
right: 0.25%;
top: calc(50% - 16px/2 + 1.5px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */


color: #9D9D9D;
}

img.imgstyle2{
    position: absolute;
width: 29.27px;
height: 29.27px;
left: 199.61px;
top: 256px;

}

span.spec2{

    height: 16px;
width: 75px;
left: 237.5px;
top: 263.73px;
border-radius: nullpx;

    /* position: absolute;
height: 16px;
left: 33.53%;
right: 0.09%;
top: calc(50% - 16px/2 + 0.73px); */
position: absolute;
font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */


color: #9D9D9D
}

img.imgstyle3{

    position: absolute;
    width: 31.15px;
    height: 29.42px;
    left: 328.22px;
    top: 257.08px;

border-radius: 0px;

}

span.spec3{

    height: 16px;
width: 77px;
left:370.12px;
top:263px;
/* left: 41.89552307128906px;
top: 6px; */
border-radius: nullpx;

    position: absolute;
/* height: 16px;
left: 35.21%;
right: 0.09%;
top: calc(50% - 16px/2 - 1px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */


color: #9D9D9D;

}

img.imgstyle4{

    position: absolute;
    width: 15.93px;
    height: 31.94px;
    left: 462.83px;
    top: 255px;

    border-radius: 0px;
        
}

span.spec4{

    height: 16px;
width: 65.83582305908203px;
left: 488.77px;
top: 262px;
border-radius: nullpx;

    position: absolute;
/* height: 16px;
left: 28.19%;
right: 0.25%;
top: calc(50% - 16px/2 - 1px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */


color: #9D9D9D;

}

img.imgstyle5{

    position: absolute;
width: 31.86px;
height: 31.95px;
left: 570.44px;
top: 256px;
border-radius: 0px;

}

span.spec5{
    height: 16px;
    width: 63.840797424316406px;
    left: 612.34px;
    top: 264px;
    border-radius: nullpx;
    position: absolute;
/* height: 16px;
left: 39.52%;
right: 0.25%;
top: calc(50% - 16px/2); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */


color: #9D9D9D;

}

div.about-title{
    height: 22px;
width: 172px;
left: 77px;
top:297px;
border-radius: nullpx;

    position: absolute;
/* height: 22px;
left: 0%;
right: 77.98%;
top: calc(50% - 22px/2 - 83px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */

letter-spacing: 0.5625px;

color: #333333;
}

div.about-description{
    height: 157px;
width: 715px;
left: 77px;
top: 328px;
border-radius: nullpx;

    position: absolute;
/* left: 0%;
right: 8.45%;
top: 16.49%;
bottom: 0%; */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 21px;
/* or 175% */


color: #333333;

}

img.imghonda{
    height: 631px;
width: 673px;
left: 737px;
top: 14px;
border-radius: 0px;

position: absolute;
/* background: url("../../.././public/assets/images/buy-leadgeneration-landing-page-removebg-preview.jpg"); */
/* filter: drop-shadow(8px 18px 12px rgba(0, 0, 0, 0.07)); */
/* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

div.main-3{
    position: absolute;
    top:1428px;
    height:613px;
    width:1440px;
    background-image: url("../../.././public/assets/images/Rectangle (1).jpg");
    left:0px;
}

div.main-4{
  height:584px;
  width:1440px;
  top:2041px;
  left:0px;
  position: absolute;
  background-color: #FFFFFF;
}

div.main-5{
    height: 398px;
width: 1440px;
left: -5px;
top: 2625px;
border-radius: 0px;
position: absolute;
background-image: url("../../.././public/assets/images/Rectangle (2).jpg");
}

div.main-6{
    height:683px;
    width:1440px;
    top:3023px;
    position:absolute;
    left:0px;
    background-color: #FFFFFF;
}

div.main-7{
    height:97px;
    width:1440px;
    top:3706px;
    position:absolute;
    left:0px;
    background-color: #F2F2F2;
}

div.title-8{

height: 27px;
width: 213px;
left: 614px;
top: 100px;
border-radius: nullpx;

position: absolute;
/* height: 27px;
left: 42.64%;
right: 42.57%;
top: calc(50% - 27px/2 - 193px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
/* identical to box height */


color: #333333;

}

div.content-8{
    height: 46px;
width: 888px;
left: 287px;
top: 157px;
border-radius: nullpx;

    position: absolute;
height: 46px;
left: 19.93%;
right: 18.4%;
top: calc(50% - 46px/2 - 126.5px);

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
/* or 144% */

text-align: center;

color: #333333;
}

img.mechanicstyle{
height: 80px;
width: 80px;
left: 299px;
top: 233px;
border-radius: 0px;

    position: absolute;
    /* left: 0%;
    right: 67.61%;
    top: 0%;
    bottom: 0%;    */ 

}

span.data-1{
    height: 19px;
width: 152px;
left: 394px;
top: 260px;
border-radius: nullpx;

    position: absolute;
/* height: 19px;
left: 38.46%;
right: 0%;
top: calc(50% - 19px/2 - 3.5px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #333333;

}

img.inspectionstyle{

    height: 80px;
    width: 80px;
    left: 799px;
    top: 233px;
    border-radius: 0px;

    position: absolute;
/* left: 0%;
right: 76.61%;
top: 0%;
bottom: 0%;
 */
}

span.data-2{
    height: 19px;
width: 241px;
left: 894px;
top: 260px;
border-radius: nullpx;

    position: absolute;
/* height: 19px;
left: 27.78%;
right: 1.75%;
top: calc(50% - 19px/2 - 3.5px);
 */
font-family: 'Proxima Nova';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;

color: #333333;
}

img.hasslestyle{

    height: 80px;
    width: 80px;
    left: 299px;
    top: 333px;
    border-radius: 0px;
    
    position: absolute;
/* left: 0%;
right: 75.23%;
top: 0%;
bottom: 0%; */
}

span.data-3{
    height: 19px;
width: 227px;
left: 394px;
top: 360px;
border-radius: nullpx;

    position: absolute;
/* height: 19px;
left: 29.41%;
right: 0.31%;
top: calc(50% - 19px/2 - 3.5px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;

color: #333333;
}

img.paymentstyle{

    height: 80px;
    width: 80px;
    left: 799px;
    top: 333px;
    border-radius: 0px;
    

    position: absolute;
  /*   left: 0%;
    right: 74.44%;
    top: 0%;
    bottom: 0%; */
}

span.data-4{
    height: 19px;
width: 217px;
left: 894px;
top: 360px;
border-radius: nullpx;

    position: absolute;
 /*    height: 19px;
    left: 30.35%;
    right: 0.32%;
    top: calc(50% - 19px/2 - 3.5px);
     */
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    
    color: #333333;
    
}

img.doorstepstyle{
    height: 80px;
width: 80px;
left: 299px;
top: 433px;
border-radius: 0px;

    position: absolute;
/* left: 0%;
right: 69.92%;
top: 0%;
bottom: 0%; */
}

span.data-5{
    height: 19px;
width: 171px;
left: 394px;
top: 460px;
border-radius: nullpx;

    position: absolute;
/* height: 19px;
left: 35.71%;
right: 0%;
top: calc(50% - 19px/2 - 3.5px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;

color: #333333;
}

img.postcare-assistancestyle{
    height: 80px;
width: 80px;
left: 799px;
top: 433px;
border-radius: 0px;

    position: absolute;
   /*  left: 0%;
    right: 66.94%;
    top: 0%;
    bottom: 0%; */
}

span.data-6{
    height: 19px;
width: 146px;
left: 894px;
top: 460px;
border-radius: nullpx;

    position: absolute;
    /* height: 19px;
    left: 39.26%;
    right: 0.41%;
    top: calc(50% - 19px/2 - 3.5px); */
    
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    
    color: #333333;    
}

div.testimonial{
    height: 22px;
width: 225px;
left: 612px;
top: 71px;
border-radius: nullpx;

    position: absolute;
/* height: 22px;
left: 37.19%;
right: 39.38%;
top: calc(50% - 22px/2 - 129px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 22px;
/* identical to box height */

letter-spacing: 0.785714px;

color: #333333;
}

img.leftarrowstyle{

border-radius: 0px;

    position: absolute;
width: 40px;
height: 40px;
left: 183px;
top: 229.65px;

transform: rotate(179deg);
}

section.testimonial-1{
    height: 220px;
    width: 300px;
    left: 255px;
    top: 131px;
    border-radius: 4px;
    
box-sizing: border-box;

position: absolute;
/* left: 0%;
right: 0%;
top: 0%;
bottom: 0%; */

background: #FFFFFF;
border: 3px solid #F9D8D9;
border-radius: 4px;
background-image: url("../../images/Rectangle (18).jpg");
}

img.bitmap-1{
    
border-radius: [object Object]px;

    position: absolute;
    width: 89.59px;
    height: 87.1px;
    left: 20px;
    top: 20px;
    
}

span.bitmap-data-1{
    height: 17px;
width: 98px;
left: 128px;
top: 53px;
border-radius: nullpx;

    position: absolute;
/* height: 17px;
left: 42.67%;
right: 24.67%;
top: calc(50% - 17px/2 - 48.5px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */

letter-spacing: 0.5px;

color: #333333;

}

div.testimonial-1-data{
    height: 60px;
width: 243px;
left: 20px;
top: 118px;
border-radius: nullpx;

    position: absolute;
/* left: 6.67%;
right: 12.33%;
top: 53.64%;
bottom: 19.09%; */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
letter-spacing: 0.428571px;

color: #333333;
}

section.testimonial-2{
    height: 220px;
    width: 300px;
    left: 585px;
    top: 131px;
    border-radius: 4px;
    
    box-sizing: border-box;

    position: absolute;
    /* left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%; */
    
    background: #FFFFFF;
    border: 3px solid #F9D8D9;
    border-radius: 4px;
    background-image: url("../../.././public/assets/images/Rectangle (11).jpg");
}

img.bitmap-2{
    
position: absolute;
width: 89.59px;
height: 87.1px;
left: 20px;
top: 20px;
}

span.bitmap-data-2{
    height: 17px;
width: 101px;
left: 128px;
top: 53px;
border-radius: nullpx;

    position: absolute;
/* height: 17px;
left: 42.67%;
right: 23.67%;
top: calc(50% - 17px/2 - 48.5px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */

letter-spacing: 0.5px;

color: #333333;
}

div.testimonial-2-data{
    height: 81px;
width: 243px;
left: 20px;
top: 118px;
border-radius: nullpx;

    position: absolute;
left: 6.67%;
right: 12.33%;
top: 53.64%;
bottom: 9.55%;

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
letter-spacing: 0.428571px;

color: #333333;

}

section.testimonial-3{
    height: 220px;
width: 300px;
left: 915px;
top: 131px;
border-radius: 4px;

    box-sizing: border-box;

position: absolute;
/* left: 0%;
right: 0%;
top: 0%;
bottom: 0%; */

background: #FFFFFF;
border: 3px solid #F9D8D9;
border-radius: 4px;
background-image: url("../../.././public/assets/images/Rectangle (12).jpg");
}

img.bitmap-3{

    position: absolute;
width: 89.59px;
height: 87.1px;
left: 20px;
top: 20px;


}

span.bitmap-data-3{
    height: 14px;
width: 103px;
left: 128px;
top: 53px;
border-radius: nullpx;

    position: absolute;
/* height: 14px;
left: 42.67%;
right: 23%;
top: calc(50% - 14px/2 - 50px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 14px;
/* identical to box height */

letter-spacing: 0.5px;

color: #333333;

}

div.testimonial-3-data{
    height: 81px;
width: 243px;
left: 20px;
top: 118px;
border-radius: nullpx;

    position: absolute;
/* left: 6.67%;
right: 12.33%;
top: 53.64%;
bottom: 9.55%; */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
letter-spacing: 0.428571px;

color: #333333;

}

img.rightarrowstyle{


position: absolute;
width: 40px;
height: 40px;
left: 1246px;
top: 220px;
}

div.booknow-container{

    position: absolute;
    width: 1129px;
    height: 95px;
    left: 142px;
    top: -8px;
    
    background: #4B2167;
    border-radius: 20px;
    background-image: url("../../.././public/assets/images/Rectangle (13).jpg");

}

div.booknow-data{
    height: 24px;
width: 711px;
left: 111px;
top: 34px;
border-radius: nullpx;

    position: absolute;
/* height: 24px;
left: 0%;
right: 21.7%;
top: calc(50% - 24px/2 - 2px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;

}
span.booknow-button{
    height: 44px;
width: 175px;
left: 735px;
top: -8px;

    position: absolute;
/* left: 0%;
right: 0%;
top: 0%;
bottom: 0%; */

background: #DA2128;
border-radius: 22px;
}

p.booknow-text{
    height: 17px;
width: 85px;
left: 50px;
top: 11px;
border-radius: nullpx;

    position: absolute;
/* height: 17px;
left: 28.57%;
right: 28%;
top: calc(50% - 17px/2 - 2.5px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #FFFFFF;

}

div.customers{
    height: 27px;
width: 107px;
left: 188px;
top: 137px;
border-radius: nullpx;

    position: absolute;
/* height: 27px;
left: 31.62%;
right: 31.62%;
top: calc(50% - 27px/2 - 53px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
/* identical to box height */

text-align: center;

color: #FFFFFF;

}

div.customers-count{
    height: 40px;
width: 186px;
left: 148px;
top: 173px;
border-radius: nullpx;

    position: absolute;
   /*  height: 40px;
    left: 17.87%;
    right: 18.21%;
    top: calc(50% - 40px/2 - 10.5px); */
    
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FFFFFF;
    
}

div.customers-text{
    height: 38px;
width: 291px;
left: 96px;
top: 232px;
border-radius: nullpx;

    position: absolute;
/* left: 0%;
right: 0%;
top: 71.43%;
bottom: 0%; */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* or 136% */

text-align: center;

color: #FFFFFF;

}

img.facebook-logo{

    position: absolute;
    width: 49.88px;
    height: 49.88px;
    left: 557px;
    top: 138px;
}    

div.ratings-1{
    height: 27px;
width: 142px;
left: 514px;
top: 198px;
border-radius: nullpx;

    position: absolute;
/* height: 27px;
left: 0%;
right: 0.7%;
top: calc(50% - 27px/2 + 0.5px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

img.starrating-1{
    position: absolute;
width: 107px;
height: 18px;
left: 532px;
top: 236px;

}


img.google-logo{
    position: absolute;
width: 49.88px;
height: 49.88px;
left: 826px;
top: 138px;
}


div.ratings-2{
    height: 22px;
width: 142px;
left: 784px;
top: 198px;
border-radius: nullpx;

    position: absolute;
/* height: 22px;
left: 0%;
right: 0.7%;
top: calc(50% - 22px/2 - 2px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 22px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

img.starrating-2{
    position: absolute;
width: 107px;
height: 17.94px;
left: 802px;
top: 236.03px;

}


div.credr-stores{
    height: 22px;
width: 160px;
left: 1123px;
top: 137px;
border-radius: nullpx;

    position: absolute;
/* height: 22px;
left: 23.71%;
right: 24.05%;
top: calc(50% - 22px/2 - 67px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 22px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}


div.store-count{
    height: 40px;
width: 45px;
left: 1177px;
top: 173px;
border-radius: nullpx;

    position: absolute;
/* height: 40px;
left: 42.27%;
right: 42.27%;
top: calc(50% - 40px/2 - 22px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 40px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

div.about-store{
    height: 59px;
width: 291px;
left: 1054px;
top: 234px;
border-radius: nullpx;

    position: absolute;
/* left: 0%;
right: 0%;
top: 62.18%;
bottom: 0%; */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* or 136% */

text-align: center;

color: #FFFFFF;

}

div.faqs{
    height: 31px;
width: 329px;
left: 552px;
top: 71px;
border-radius: nullpx;

    position: absolute;
/* height: 31px;
left: 30%;
right: 28.88%;
top: calc(50% - 31px/2 - 251.5px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 31px;

color: #333333;
}

div.faq-1-container{
    height: 60px;
width: 800px;
left: 312px;
top: 132px;
border-radius: 2px;

    position: absolute;
/* left: 0%;
right: 0%;
top: 0%;
bottom: 0%; */

background: #FFFFFF;
border: 1px solid #EEEEEE;
border-radius: 2px;
    background-image: url("../../.././public/assets/images/Rectangle (14).jpg");
}

div.faq-1{
    height: 16px;
width: 228px;
left: 30px;
top: 20px;
border-radius: nullpx;

    position: absolute;
/* height: 16px;
left: 3.75%;
right: 67.75%;
top: calc(50% - 16px/2 - 2px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */


color: #333333;
}

img.faq-1-style{
    position: absolute;
width: 22px;
height: 22px;
left: 718px;
top: -1px;
}

div.faq-2-container{
    height: 173px;
width: 800px;
left: 312px;
top: 207px;
border-radius: 2px;

    position: absolute;
/* left: 0%;
right: 0%;
top: 0%;
bottom: 0%; */

background: #FFFFFF;
border: 1px solid #EEEEEE;
border-radius: 2px;
    background-image: url("../../.././public/assets/images/Rectangle (15).jpg");
}

div.faq-2{
    height: 16px;
width: 302px;
left: 30px;
top: 20px;
border-radius: nullpx;

    position: absolute;
/* height: 16px;
left: 3.75%;
right: 58.5%;
top: calc(50% - 16px/2 - 58.5px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */


color: #333333;

}

img.faq-2-style{

    height: 22px;
    width: 22px;
    left: 718px;
    top: -1px;
    border-radius: 0px;

position: absolute;
/* left: 93.5%;
right: 3.75%;
top: 10.98%;
bottom: 76.3%; */


}

div.faq-2-2{
    height: 103px;
width: 701px;
left: 30px;
top: 50px;
border-radius: nullpx;

    position: absolute;
/* left: 3.75%;
right: 8.62%;
top: 28.9%;
bottom: 11.56%;
 */
font-family: 'Proxima Nova';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
/* or 150% */


color: #333333;
}

div.faq-3-container{
    height: 60px;
width: 800px;
left: 312px;
top: 395px;
border-radius: 2px;

    position: absolute;
/* left: 0%;
right: 0%;
top: 0%;
bottom: 0%; */

background: #FFFFFF;
border: 1px solid #EEEEEE;
border-radius: 2px;
    background-image: url("../../.././public/assets/images/Rectangle (16).jpg");
}

div.faq-3{
    height: 16px;
width: 306px;
left: 30px;
top: 20px;
border-radius: nullpx;

    position: absolute;
/* height: 16px;
left: 3.75%;
right: 58%;
top: calc(50% - 16px/2 - 2px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */


color: #333333;

}

img.faq-3-style{
    height: 22px;
width: 22px;
left: 718px;
top: -1px;
border-radius: 0px;

    position: absolute;
   /*  left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
     */
}

div.faq-4-container{
    height: 60px;
width: 800px;
left: 312px;
top: 470px;
border-radius: 2px;

    position: absolute;
/* left: 0%;
right: 0%;
top: 0%;
bottom: 0%; */

background: #FFFFFF;
border: 1px solid #EEEEEE;
border-radius: 2px;
    background-image: url("../../.././public/assets/images/Rectangle (17).jpg");
}


div.faq-4{
    height: 16px;
width: 347px;
left: 30px;
top: 20px;
border-radius: nullpx;

position: absolute;
/* height: 16px;
left: 3.75%;
right: 58%;
top: calc(50% - 16px/2 - 2px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */


color: #333333;

}


img.faq-4-style{
    height: 22px;
    width: 22px;
    left: 718px;
    top: -1px;
    border-radius: 0px;
    position: absolute;
    
}



div.faq-5-container{
    height: 60px;
width: 800px;
left: 312px;
top: 545px;
border-radius: 2px;

    position: absolute;
/* left: 0%;
right: 0%;
top: 0%;
bottom: 0%; */

background: #FFFFFF;
border: 1px solid #EEEEEE;
border-radius: 2px;
    background-image: url("../../.././public/assets/images/Rectangle (17).jpg");
}


div.faq-5{
    height: 16px;
width: 347px;
left: 30px;
top: 20px;
border-radius: nullpx;

position: absolute;
/* height: 16px;
left: 3.75%;
right: 58%;
top: calc(50% - 16px/2 - 2px); */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */


color: #333333;

}


img.faq-5-style{
    height: 22px;
    width: 22px;
    left: 718px;
    top: -1px;
    border-radius: 0px;
    position: absolute;
    
}

